.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divHome{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5rem;
  background-color: #f6f6ee;
}
.countBtn{
  margin: auto;
}

.container1{
  display: inline-block;
  align-items: center;
  padding: 10px;
}

.card{
  display: flex;
  width: 450px;
  height: 550px;
  border-radius: 5px;
  margin:20px;
  background-color: #282c34;
}

.pictureUrl{
  margin: auto;
}

.title{
  margin: auto;
  text-decoration: underline;
  color:aliceblue;
}
.description{
  margin: auto;
  font-style: italic;
  color:aliceblue;
  margin-bottom: 5px;
  font-size: 15px;
}
.price{
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}
.id{
  font-weight: 800;
}

.detalle{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  background-color:#282c34;
}
.categoria{
  color:#f0f0f1;
}
.categoria:hover {
  text-decoration:underline;
}
.btnVolver {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}
.btnQuitar{
  margin-bottom: 20px;
}
.divCarrito{
  background-color: #282c34;
  height: auto;
  margin: auto;
  width: 30%;
  margin-bottom: 30px;
}
.divBtnFin{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 20px;
}
.btn-primary{
  margin-bottom: 10px;
}
.divForm{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
}
.fotoCartFinal{
  width: 30px;
  height: 30px;
}
.labelForm{
  color:#f0f0f1;
  display: flex;
  margin: 5px;
}
.tableProd{
  width: 90%;
  margin: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}